:host {
  mat-toolbar {
    background-color: #f2f6e9;
    span {
      color: #262626;
      font-size: 1.5em;
      font-style: oblique;
      font-weight: 500;
      text-shadow: 2px 2px 2px #ff7f11;
    }
  }
}
